@media(max-width:600px){
    .box{
        height: 50%;
        width: 70%;
    }
    .box h1{
        font-size:30px;
        margin-top:-25px;
    }
    .input{
        width: 130%;
        height: 5vh;
        font-size: 16px;
    }
    .login{
        width: 100%;
        font-size: 16px;
        padding: 5px;
    }
    .bottom{
        font-size: 12px;
    }
    .link{
        font-size: 12px;
    }
}