@media (max-width:600px){
  .div-box{
    
  }
  .form-box{
    width: 90%;
    align-items: start;
  }
  .form-area{
    padding: 0px;
    margin-left: -30px
  }
  .put{
    width: 100%;
  }
  .signup{
    width: 95%;
  }
}